
@import 'variables';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
*{
    box-sizing: border-box;
    &:focus{
        outline-color: transparent;
    }
}

body{
	background-image: url("../img/bg.jpg")
}
.tires-filter-container{
	margin: auto;
	color: $defaultFontColor;
	font-size: 14px;
    .caption{
        margin-bottom: 3px;
    }
	// ===============================================
	// https://www.w3schools.com/howto/howto_custom_select.asp
	// ===============================================
	.custom-select {
		position: relative;
	}
	.custom-select select {
		display: none;
	}
	.select-selected {
		border: 2px solid $light-grey;
        border-radius: $px5;
        position: relative;
	}
	.select-selected:after {
		position: absolute;
		background-color: $light-grey;
		background-image: url('../img/ico/angle-down.jpg');
		background-position: center;
		background-repeat: no-repeat;
		color: #655e66;
        display: block;
        border-bottom-right-radius: $px5;
		border-top-right-radius: $px5;
		content: "";
		top: 0px;
        right: -2px;
		width: 35px;
		height: 34px;
	}
	.select-selected.select-arrow-active{
		border-bottom-left-radius: initial;
		border-bottom-right-radius: initial;
	}
	.select-selected.select-arrow-active:after {
		background-image: url('../img/ico/angle-up.jpg');
	}
	.select-items div,.select-selected {
		padding: 8px 13px;
		cursor: pointer;
	}
	.select-items {
		position: absolute;
		border: 2px solid $grey;
		border-bottom-left-radius: $px5;
		border-bottom-right-radius: $px5;
		border-top: none;
		background: #fff;
		top: 100%;
		left: 0;
		right: 0;
		z-index: 99;
	}
	.select-hide {
		display: none;
	}
	.select-items div:hover, .same-as-selected {
		background-color: rgba(0, 0, 0, 0.1);
	}
	// ===============================================
	// ===============================================
	font-family: sans-serif;
	width: fit-content;
	border-bottom: 3px solid $orange;
	h2{
		color: #fff;
		text-align: center;
		font-weight: bold;
		font-size: 1.4em;
		font-style: italic;
		text-transform: uppercase;

	}
	input[type="radio"]{
		display: none;
	}
	label:hover{
		cursor: pointer;
	}
	.filter-body{
		padding: 27px 16px;
		padding-top: 25px;
		background: #fff;
		.car-type{
			display: flex;
			margin-bottom: 30px;
			input[type="radio"] + span { 
				background: none; 
				padding: 5px;
				border-bottom: 1px dashed $light-blue;
				color: $light-blue;
			}
			input[type="radio"]:checked + span { 
				background: $light-blue; 
				border: none;
				padding: 5px 15px;
				border-radius: 20px;
				color: #fff;
			}
			label + label{
				margin-left: 10px;
			}
		}
		.tires-params{
			display: flex;
			justify-content: space-between;
			margin-bottom: 27px;
			& > div{
				width: calc((100% - 30px) / 3);
            }
			.image-container{
				display: flex;
				align-items: center;
				justify-content: center;
				height: 70px;
				margin-bottom: 5px;
				img{
					height: 100%;
				}
			}
			.width .image-container img{
				height: 126%;
				position: relative;
				top: -8px;
			}
		}
		.season-and-brand-container{
			display: flex;
			justify-content: space-between;
		}
		.season{
			.caption{
				display: block;
			}
			.radio-group{
				display: flex;
				label + label{
					margin-left: 30px;
				}
				span{
					display: block;
					width: 40px;
					height: 40px;
					background-repeat: no-repeat;
					background-position: center;
				}
				input[value="summer"] + span{
					background-image: url("../img/seasons/sun_def.jpg")
				}
				input[value="winter"] + span{
					background-image: url("../img/seasons/snow_def.jpg")
				}
				input[value="universal"] + span{
					background-image: url("../img/seasons/sun_snow_def.jpg")
				}
				input[type="radio"]:checked + span { 
					border: 3px solid $light-grey;
					border-radius: $px5;
				}
				input[value="summer"]:checked + span {
					background-image: url("../img/seasons/hover/sun.jpg");
				}
				input[value="winter"]:checked + span {
					background-image: url("../img/seasons/hover/snow.jpg");
				}
				input[value="universal"]:checked + span {
					background-image: url("../img/seasons/hover/sun_snow.jpg");
				}
			}
		}
		.brand{
			justify-self: flex-end;
            width: 50%;
            .select-items{
                top: 94%;
            }
		}
		.price{
			margin-top: 21px;
			margin-bottom: 15px;
			.caption{
				margin-bottom: 5px;
			}			
			#min-price,
			#max-price{
				border: 2px solid $grey;
				padding: 5px 10px;
				border-radius: $px5;
				min-width: 65px;
				text-align: center;
			}
		}
		.result-container{
			position: relative;
			width: fit-content;
			margin: 0 auto;
				display: block;
			button{
				color: #fff;
				text-transform: uppercase;
				background: $orange;
				padding: 10px 26px;
				border-radius: $px5;
				border: none;
				&:hover{
					cursor: pointer;
                }
                &:active{
                   box-shadow: inset 0 0 6px 0 #000;;
                }
			}
			#was-finded{
                display: none;
				position: absolute;
				top: 0;
				right: -95px;
				border: 2px solid $grey;
				border-radius: 5px;
				width: 80px;				
				p{
					padding: 4px;
					font-size: 11px;
                }
                &.show{
                    display: block;
                }
				&:before{
					display: block;
					content: '';
					position: absolute;
					left: -8px;
					top: 9px;
					transform: rotate(45deg);
					border-left: 2px solid $grey;
					border-bottom: 2px solid $grey;
					width: 11px;
					height: 11px;
					z-index: 1;
					background: #fff;
				}
			}
		}
		
	}
}
